@import "tailwindcss";

.hero{
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size:cover;
  
}



.glass-emerald-400 {
  background-color: rgba(19, 228, 99, 0.2); 
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(52, 211, 153, 0.4); 
  border-radius: 9999px; 
  color: #26442f; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
}


.glass-emerald-400::placeholder {
  color: rgba(20, 54, 30, 0.7);
}


.glass-emerald-400:focus {
  border-color: rgba(52, 211, 153, 0.6); 
  outline: none; 
}



option:hover{
    background-color: #116f2d;
}